* {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0;
		margin: 0;
		font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
		text-shadow: 0 0 10px white;
}

.main-page {
		width: 100%;
		height: 100%;
		background: url(../fons/img-17.jpg) no-repeat;
		background-size: cover;
		background-attachment: fixed;
}
.main-page .navbar-style {
		background-color: rgba(140, 147, 153, 0.322);
}
.main-page .navbar-style .name {
		font-size: 30px;
		font-weight: 700;
}
.main-page .navbar-style .nav-link-style {
		color: white !important;
		font-weight: 500;
		text-shadow: 0 0 10px black;
		text-transform: uppercase;
}
.main-page .navbar-style .nav-link-style:hover {
		color: #ff6600 !important;
		font-weight: 700;
		-webkit-transition: ease 1s;
		transition: ease 1s;
}
.main-page .navbar-style .active {
		color: #00ff15 !important;
		font-weight: 700;
		text-shadow: 0 0 10px black;
}
.main-page .main-page__icon-img {
		width: 250px;
}
.main-page .accordion-item {
		background-color: rgba(255, 255, 255, 0);
}
.main-page .accordion-item .accordion-button {
		color: black;
		font-size: 18px;
		background-color: rgba(255, 255, 255, 0.205);
}
.main-page .item {
		list-style-type: none;
		text-transform: uppercase;
}
.main-page .link-style {
		color: white;
		text-shadow: 0 0 10px black;
		font-size: 18px;
		font-weight: 500;
		text-decoration: none;
}
.main-page .link-style:hover {
		color: cyan;
		text-shadow: 0 0 10px black;
		font-weight: 600;
		-webkit-box-shadow: 0 0 10px black;
		        box-shadow: 0 0 10px black;
		padding: 0 5px;
}